:root{
--primary-color: black;
    font-family: Arial, sans-serif;
    color: black;
    shape-image-threshold: 840px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: var(#ffff00);
    color:var(orange);
}
header, main, footer{
    width: 840px;
    margin:0 auto;
}
h1, h2{
    font-family:var(--heading-font);
    color:var(--primary-color);
}
nav, p, section, article{
    margin:16px;
    padding:8px;

}
socialmedia a {
    text-decoration: none;
}