:root{
    --primary-color:green;
    --secondary-color:lightgreen;
    --acent1-color:purple;
    --acent2-color:blue;
    --heading-font:"Times new roman", "Georgia", Serif;
    --body-font:Arial Helvetica, sans-serif;
}
header{
    background-color: var(--primary-color);
    color:var(--acent2-color);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:var(--secondary-color);
    color:var(--acent1-color);
}
header, main, footer{
    width:840px;
    margin:0 auto;
}
h1, h2{
    font-family:var(--body-font);
    color:var(--acent1-color);
}
nav, p, section, article{
    margin:16px;
    padding:8px;
}
.socialmedia a{
    text-decoration:none;
}
.hero{
    position:relative;
}
.hero img{
    display:block;
    width:100%;
    height:auto;
}
h1{
    position:absolute;
    top:20%;
    width:100%;
    padding:16px;
    text-align:center;
    opacity:0.7;
    background-color:var(--primary-color) ;
    color:var(--acent1-color);
}
article{
    position:relative;
    background-color:var(--primary-color);
}
.hero article img{
    float:right;
    width:125px;
    border:10px;
    margin:0 auto;
    box-shadow:gray;
}