:root {
    --heading-background-color:lightblue;
    --heading-text-color:#333333;
    --heading-font:lightblue;
    padding:10px;
    border:10px;
    background-color:white;



}
header{
    min-width:100vh;
    display:flex;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: var(--heading-text-color);

}
nav {
    background-color:var(--heading-font);
    padding:1rem; 
    display:flex;
    justify-content:space-around;
    align-items:center;
}
nav a {
    min-width:320px;
    background-color:lightblue;
    display:block;
    padding: 0.5rem;
    text-decoration:none;
    font-size:1.2rem;
    font: weight 800px;;
    color:var(--heading-text-color);
}
h1{
   color:#333;
   border-bottom:1px solid gray;
}

img{
    width: 150px;
    height:auto;
    border:1px solid black;
    padding:10px;
    box-shadow:0 0 30px gray;
}

aside p{
    padding:10px;
    margin: 10px;;
}

main{
    text-align:center;
}

aside{
    width:100%;
    margin:1em;
    border:1px;
    padding:1rem;
    text-align:center;
}

aside img{
    width:300px;
    height:auto;
}

main img{
    width:150px;
    height:auto;
    border:80px;
    padding:10px;
    box-shadow:gray;
}

p{padding:0;}

footer{
    margin-top: 15px;
    border-top:#333333;
    text-align:center;
    border-bottom: #333;
}
 footer{
    max-width:840px;
    margin:0 auto;

}
main, aside, div{
    display:grid;
    align-items: baseline;
    border-bottom: #333;
    padding-bottom:10px;
}
header, .grid, footer{
    max-width:840;
    margin:0 auto;

}
.grid{
    display:grid;
    align-items:center;
}
main{
    grid-column:2/3;
    margin:1rem;
}
aside{
    width:20 rem;
    position:relative;
    grid-column:1/2;
    grid-row:1/2;
}