:root {
    --heading-background-color:lightblue;
    --heading-text-color:#333333;
    --heading-font:lightblue;
    padding:10px;
    border:10px;
    background-color:white;



}
nav {
    padding:10px; 
}
nav a {
    background-color:lightblue;
    display:block;
    padding:20px;
}
h1{
   color:#333;
}

img{
    width:150px;
    height:auto;
    border:1px solid black;
    padding:10px;
    box-shadow:0 0 30px gray;
}

aside p{
    padding:10px;
    margin: 10px;;
}

main{
    max-width:840px;
}

aside{
    width:20rem;
    margin:1em;
    border:1px;
    padding:1rem;
    text-align:center;
}

aside img{
    width:200px;
    height:auto;
}

main img{
    width:150px;
    height:auto;
    border:80px;
    padding:10px;
    box-shadow:gray;
}

p{padding:0;}

footer{
    margin-top: 15px;
    border-top:#333333;
    text-align:center;
}
