*{
    margin:0 auto;
    padding:0 auto;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    align-items:center;
}
header, footer{
    display:block;
    color:#fff;
    background-color:#333333;
    margin:10px auto;
    align-items:center;
    text-align:center;
    width:500px;
    height:0 auto;
    position:sticky;
}
main h1{
    text-align:center;
    font-size: 40px;
}
section{
    margin:20px auto;
    width:400px;
    height:0 auto;
    padding:20px;
    background-color:#ddd;
}
section p{
    margin-bottom:10px;
}
picture img{
    display:block;
    width: 400px;
    margin:20px auto;
    line-height:1.5em;
    box-shadow: #ddd;
    
}
section h2{
    border-bottom:2px;
    border-bottom-color:#333333;
    border-bottom-style:solid;
    margin-bottom:20px;
    padding:10px;
    
}